# File di configurazione


[LOC]=ON			# Configurazione locale
[SERVER]=OFF		# Configurazione su server


# File in logPath

STR extBusy =	"bsy"			# Operazione in corso se esiste un file con l'estensione. Contiene il nome dell'utente.
STR logF =		"log.txt"		# Messaggi di log
STR todoF =		"todo.txt"		# File da copiare: origine;destinazione (nullo se non è da copiare)
STR doneF =		"done.txt"		# File copiati
STR indxF =		"lst"			# estensione dei file indice. Se non ce ne sono: legge tutte le cartelle
INT command =	0				# Comando all'avvio del programma. 0:nulla, 1:leggi, 2:scrivi, 3:leggi e scrivi

[LOC]

STR origRoot =		"D:\Fred\Documenti\TESTSYNC\01\"
STR destRoot =		"D:\Fred\\Documenti\TESTSYNC\02\"
STR extYes =		"pdf" ; "dwg" ; ""
STR extNo =			"obj" ; ""
STR logPath =		"D:\Fred\Documenti\TESTSYNC\Log\"

[.]


[SERVER]

STR origRoot =		"//server/Dis/"
STR destRoot =		"//server/Dis/Public/"
STR extYes =		".pdf" ; ""
STR extNo =			".obj" ; ""
STR logPath =		"//server/Dis/Public/Log/"

[.]